@charset "UTF-8";
/* CSS Document */

* { 
    box-sizing:border-box; -moz-box-sizing:border-box; 
    -webkit-font-smoothing:antialiased; -moz-font-smoothing:antialiased; 
    -o-font-smoothing:antialiased; -ms-font-smoothing:antialiased; 
    font-smoothing:antialiased;
}
body { background:#161616 url(backgrounds/gray_pittsburgh_night_panorama_city_lights.jpg) no-repeat center center fixed; 
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       -ms-background-size: cover;
       background-size: cover;
       margin:0; padding:0; font-family:gentium_basicregular, sans-serif; }
html { margin:0; padding:0; }

/* Container */

#container { width:100%; color:#fff; margin:0 auto; padding:0;}

/* Headers and Text */

h1 { font-size:5em; margin:0 0 30px 0; color:fffff0; text-align:center; font-family:alluraregular, sans-serif; text-shadow:#696969 2px 2px; }

h2 { font-size:1.5em; width:1200px; margin:0 auto 20px auto; text-shadow:#000 0 2px; }

.standardtext { margin:0 auto 20px auto; width:1200px; color:#ccc; text-shadow:#000 1px 1px;}

/* Navigation */

#nav { background:#111; opacity:0.5; filter:alpha(opacity=50); margin:3% 0 1% 0; font-size:1.337em; }

#nav ul { list-style:none; padding:0 10% 0 0; text-align:right; }

#nav ul li { display:inline-block; padding:0 0.5%;}

#nav ul li a { color:#88ffff; text-decoration:none; margin:0; padding:15px 50px; display:inline-block; }

#nav ul li a:hover { color:#33ffff; background:#000 !important; } 

#nav ul li a.nav_sel { color:#33ffff; background:#333333; }